body{
  margin: 0;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #5b5b5b 0 20%, white 30% 100%)
}

.header {
  padding: 5px;
  text-align: center;
  background: #5b5b5b;
  margin: 0;
}

.container{
  font-family: Arial, sans-serif;
}

h1{
  font-family: Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-style: italic
}  
